body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.partners {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 2vh;
}

h2 {
    font-weight: normal;
    border-left: solid 3px #3F8CFF;
    padding-left: 10px;
    margin-top: 25px;
}

.tbl>div>div {
    display: table-cell;
    vertical-align: top;
    padding: 0;
}

p {
    margin-top: 2vh;
}

.partners li {
    background-color: #fff;
    width: 345px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;
}

.partners li h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #3F8CFF;
    line-height: 35px;
    color: #fff;
}

.partners li h1 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #3F8CFF;
    line-height: 35px;
    color: #fff;
}

h1 {
    font-family: 'Roboto';
    font-weight: 400;
}

.partners li h1 span {
    display: inline-block;
    width: 35px;
    line-height: 35px;
    background-color: #1065E7;
    margin-right: 5px;
    text-align: center;
    color: #fff;
}

.partners li p {
    margin: 0;
    padding: 0 10px;
    line-height: 30px;

}

.partners li address {
    padding: 10px 0 0 30px;
    color: #555;
    font-style: normal;
}

.partners li .tel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: 30px;
    border-top: dotted 1px #3F8CFF;
    padding: 0 10px;
}

.partners li:nth-child(2n+2) {
    margin-right: 0;
}

.partners li {
    background-color: #fff;
    width: 345px;
    height: 200px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    position: relative;

}

.box:hover {
    box-shadow: 0 0 2px 0px
}