.carousel {
    margin: 0 0 30px 0;
    overflow: auto;
}

.carousel .left,
.carousel .right {
    float: left;
    height: 350px;
}

.carousel .left {
    width: 300px;
    background-color: #528fe9c7;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px;
    overflow: hidden;
}

.carousel .left h1 {
    margin: 0;
    color: #fff;
    font-size: 22px;
    line-height: 25px;
    font-weight: normal;
    padding: 0;
}

.carousel .left p {
    color: #7D7573;
    line-height: 19px;
}

.carousel .left .indicator {
    background-color: #3F8CFF;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 8px;
}

.carousel .left .indicator:before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: #3F8CFF;
    left: 3px;
    top: 40px;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.carousel .left .buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    background-color: red;
    line-height: 35px;
    text-transform: uppercase;
    text-align: center;
}

.carousel .left .buttons a {
    float: left;
    width: 150px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.carousel .left .buttons .btn {
    background-color: #333;
}

.carousel .left .buttons .rm {
    background-color: #3F8CFF;
}

.carousel .right {
    width: 680px;
    overflow: hidden;
    position: relative;
}

.carousel .right .desc {
    position: absolute;
    height: 35px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(30, 30, 30, .7);
}

.carousel .right img {
    display: block;
    width: 100%;
}