h1 {
    margin: .67em 0;
}

.contents .rect {
    float: left;
}

.contents .links {
    width: 645px;
    min-height: 200px;

}

.contents .links div i {
    display: block;
    font-size: 60px;
    text-align: center;
}

.contents .links>div {
    width: 310px;
    background-color: #fff;
    height: 200px;
    float: left;
   
    user-select: none;
    padding: 20px 50px 10px;
    
    box-sizing: border-box;
    color: #211917;
    position: relative;
}

.contents .links>div>div {
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    border-top: solid 40px #3F8CFF;
    border-right: solid 40px transparent;
    border-bottom: solid 40px transparent;
    border-left: solid 40px #3F8CFF;
   
    transition: ease all .5s;
}

.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.contents .links div h1 {
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
}

.contents .links div p {
    text-align: center;
}

.contents .links div:hover {
    background-color: #3F8CFF;
    color: #fff;
}

.contents .links div:hover>div {
    border-top: solid 40px #fff;
    border-right: solid 40px transparent;
    border-bottom: solid 40px transparent;
    border-left: solid 40px #fff;
}